postgres_primary_host=localhost
postgres_primary_port=5432
postgres_primary_user=postgres
postgres_primary_password=postgres
postgres_primary_db=yukinoise

postgres_replica_host=localhost
postgres_replica_port=5433
postgres_replica_user=postgres
postgres_replica_password=postgres
postgres_replica_db=yukinoise
replica_lag_threshold_bytes=16777216

app_host=localhost
app_port=8000
app_workers=4

secret_key=replace-with-a-long-random-secret
algorithm=HS256
access_token_expire_minutes=10080
refresh_token_expire_minutes=43200

kafka_host=localhost
kafka_port=9092
outbox_batch_size=50
outbox_poll_interval_seconds=0.5
outbox_retry_base_seconds=1.0
outbox_retry_max_seconds=300.0
